/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
	font-family: arial;
}

#wrapper{
	overflow: hidden;
	#header-desktop{

	}

	#header-mobile{
		.navbar{
			background: url(../img/head-mobile.png) no-repeat center;
			background-size: cover;
			height: 250px;
			margin-bottom: 0;
		}
		.navbar-toggle{
			float: left;
			border: none;
		}
		.form-inline{
			position: absolute;
			top: 20px;
			width: 400px;
			input{
				background: #fff;
				padding-left: 30px;
				margin-left: 0 !important;
			}
			.fa-search{
				top: 30%;
				position: absolute;
				left: 10px;
				color: #999;
			}
		}
		.shop-act-list{
			margin-top: 15px;			
			ul{
				padding: 0;
				margin: 0;
				li{
					float: left;
					position: relative;
					list-style: none;
					margin-right: 15px;
					cursor: pointer;
					.count{
						position: absolute;
						background: #c81322;
						color: #fff;
						font-size: 8px;
						top: -5px;
					    right: 0;
					    width: 10px;
					    height: 10px;
					    border-radius: 50%;
					    text-align: center;
					}
					.cart{
						position: relative;
					}
					.notif{
						position: relative;
					}
				}
			}
		}
		.banner-mobile{
			margin-top: 50px;
			.img{
				img{
					width: 100%;
					object-fit:cover;
				}
			}
		}
	}

	#top{
		background: url(../img/bg-top.png) no-repeat;
		background-size: cover;
		height: 30px;
		line-height: 30px;
		.top-cols{
			@media screen and (min-width: 768px)and(max-width: 1024px) {
				font-size: 12px;
			}
			.left{
				.cols{
					margin-left: 20px;
					a{
						padding-left: 20px;
						color: #fff;
					}
				}
				.tlp{
					background: url(../img/ico-tlp.png) no-repeat left;
					@media screen and (min-width: 768px)and(max-width: 1024px) {
						margin-left: 10px;
					}
				}
				.email{
					background: url(../img/ico-mail.png) no-repeat left;
			    	margin-left: 0;
				}
			}
			.right{
				text-align: right;
				.cols{
					margin-right: 15px;
					&:last-child{
						padding-left: 20px;
						border-left: 1px solid #d8d8d8;
					}
				}
				.maps{
					background: url(../img/ico-location.png) no-repeat left;
					a{
						padding-left: 20px;
					}
				}
			}
			.cols{
				display: inline-block;
				a{
					color: #fff;
				}
				.dropdown-toggle{
					background: transparent;
				    border: none;
    				padding: 0;
					img{
						float: left;
						margin-top: 5px;
					}
					.txt{
						float: left;
						line-height: 8px;
						margin: 7px 5px;
					}
					.caret{
						color: #666;
					    float: left;
				        margin-top: 2px;
					}
				}
				.dropdown-menu{
					min-width: 70px;
				}
			}
		}
	}

	#header{
		background: url(../img/bg-head.png) no-repeat;
		background-size: cover;
		padding: 30px;
		.logo{
			@media screen and (min-width: 768px)and(max-width: 1024px) {
				img{
					width: 100%;
				}
			}
		}
		.search-top{
			.form-inline{
				background: #f5f5f5;
				font-size: 12px;
				border: 1px solid #cccccc;
				.dropdown-toggle{
					padding-right: 15px !Important;
				}
				.filter-option-inner-inner{
				    font-size: 13px;
    				padding-top: 2px;
				}
				input{
					border: none;
					background: none;
				    width: 68%;
				}
				.bootstrap-select{
					width: 140px;
					@media screen and (max-width: 768px) {
						width: 70px;
					}
					.selectpicker{
						background: none;
					}
					.dropdown-toggle{
						background: none;
						border-top: none;
						border-right: none;
						border-bottom: none;
						border-radius: 0;
						padding: 0 10px;
						color: #666;
					}
				}
				.search-btn{
					background: #f36f36;
				    position: absolute;
				    right: 0;
				    top: 0;
				    width: 55px;
				    height: 40px;
				    text-align: center;
				    line-height: 35px;
				    color: #fff;
				    cursor: pointer;
				    font-size: 16px;
				}
			}
		}
		.top-right{
			padding-top:10px;
			.shop-act-list{
				@media screen and (min-width: 568px)and(max-width: 1024px) {
				    max-width: 100% !IMPORTANT;
				    width: 100%;
				    flex: none;
				}
				ul{
					padding: 0;
					margin: 0;
					li{
						float: left;
						position: relative;
						list-style: none;
						margin-right: 8px;
						cursor: pointer;
						.count{
							position: absolute;
							background: #f36f36;
							color: #fff;
							font-size: 8px;
							top: -5px;
						    right: 0;
						    width: 10px;
						    height: 10px;
						    border-radius: 50%;
						    text-align: center;
						}
						.cart{
							position: relative;
							&:after{
								display: none;
							}
							.dropdown-menux2{
								display: none;
								width: 275px;
								position: absolute;
							    left: 0;
    							top: 40px;
    							z-index: 9;
    							background: #fff;
    							box-shadow: 1px 1px 1px 3px #b0b0b070;
    							@media screen and (min-width: 768px)and(max-width: 1024px) {
    								left: -200px;
    							}
    							ul{
    								li{
    									float: none;
    									margin:0;
    									position: relative;
    									padding: 8px 30px;
    									margin: 10px 20px;
    									border-bottom: 1px solid #b0b0b070;
    									&:nth-child(1){
    										background: url(../img/top-cart.png) no-repeat left;
    									}
    									&:nth-child(2){
    										background: url(../img/top-chat.png) no-repeat left;
    									}
    									&:nth-child(3){
    										background: url(../img/top-user.png) no-repeat left;
    										border: none;
    									}
    									a{
    										color: #999;
    									}
    									span{
    										position: absolute;
    										right: 10px;
    										font-weight: bold;
    									}
    								}
    							}
								.product-list{
									.product{
									    padding: 10px;
										font-size: 12px;
										&.ganjil{
											background: #f5f5f5;
										}
										.title{
											color: #666;
										}
										.price{
											color: #333;
										}
									}
								}
								.txt{
    								 padding: 20px 10px;
    								 color: #999;
    							}
    							.subtotal{
    								padding: 20px 10px;
    								color: #999;
    								.total{
    									font-weight: bold;
    									color: #333;
    								}
    							}
								.product-list{
									.product{
									    padding: 10px;
										font-size: 12px;
										border-bottom: 1px solid #eee;
										img{
											width: 100%;
										}
										&.ganjil{
											background: #f5f5f5;
										}
										.title{
											color: #666;
										}
										.price{
											color: #333;
										}
									}
								}
							}
						}
						.notif{
							position: relative;
							&:after{
								display: none;
							}
							.dropdown-menux{
								display: none;
								width: 275px;
								position: absolute;
							    left: -100px;
    							top: 40px;
    						    z-index: 9;
    							background: #fff;
    							box-shadow: 1px 1px 1px 3px #b0b0b070;
    							@media screen and (min-width: 768px)and(max-width: 1024px) {
    								left: -200px;
    							}
    							ul{
    								li{
    									float: none;
    									margin:0;
    									position: relative;
    									padding: 8px 30px;
    									margin: 10px 20px;
    									border-bottom: 1px solid #b0b0b070;
    									&:nth-child(1){
    										background: url(../img/top-cart.png) no-repeat left;
    									}
    									&:nth-child(2){
    										background: url(../img/top-chat.png) no-repeat left;
    									}
    									&:nth-child(3){
    										background: url(../img/top-user.png) no-repeat left;
    										border: none;
    									}
    									a{
    										color: #999;
    									}
    									span{
    										position: absolute;
    										right: 10px;
    										font-weight: bold;
    									}
    								}
    							}
								.product-list{
									.product{
									    padding: 10px;
										font-size: 12px;
										&.ganjil{
											background: #f5f5f5;
										}
										.title{
											color: #666;
										}
										.price{
											color: #333;
										}
									}
								}
    							
							}
						}
					}
				}
			}

			.user-act-list{
				padding: 0;
				@media screen and (max-width: 768px) {
					display: none;
				}
				ul{
					padding: 0;
					margin: 0;
					li{
						list-style: none;
						float: left;
						margin-right: 15px;
						&:last-child{
							margin-right: 0;
						}
						a{
							padding-left: 20px;
							color: #fff;
						}
					}
					.shop{
						background: url(../img/ico-shop.png) no-repeat left;
					}
					.sign{
					    background: url(../img/ico-user.png) no-repeat 20%;
    					padding-left: 13px;
    					border-left: 1px solid #d8d8d8;
    					.formpop{
    						position: absolute;
    						background: #fff;
    						left: -120px;
    						z-index: 9;
    						width: 350px;
						    padding: 20px;
						    border-color: #ececec;
						    .flexo{
						    	padding: 0 20px;
						    	.right{
						    		font-size: 12px;
						    	}
						    }
						    .input-group-btn{
						    	position: absolute;
						    	right: 0;
						    	button{
						    		border: none;
						    		background: none;
						    		color: #333;
						    	}
						    }
						    .login-btn{
						    	background: #199cb7;
							    color: #fff;
							    width: 100%;
							    border-radius: 25px;
						    }
						    input{
						    	border-radius: 25px;
						    }
    					}
					}
				}
			}
		}
	}

	#menus-wrapper{
		.bg-kategori{
			padding-right: 0;
			h5{
				background: #c81423 url(../img/burger-menu.png) no-repeat 8%;
				color: #fff;
			    height: 45px;
    			padding: 15px 50px;
    			margin-bottom: 0;
    			@media screen and (max-width: 768px) {
    				padding: 15px 0px 15px 50px;
    			}
			}
		}
		.menus{
			ul{
				padding: 20px 0 0 ;
				margin: 0;
				li{
					list-style: none;
					display: inline-block;
					font-size: 18px;
					font-weight: bold;
					margin-right: 20px;
					a{
						color: #333;
						text-decoration: none;
						&:hover{
							color: #c81423;
						}
					}
					.active{
						color: #c81423;
					}
				}
			}
		}
	}

	#banner-wrapper{
		background: #0178fa;
		height: 342px;
		background-size: cover;
		.list-cat-wrapper{
			padding-right: 0;
			.list-category{
				background: #fff;
				height: 342px;
				padding: 20px 0;
				ul{
					padding: 0;
					margin: 0;
					li{
						list-style: none;
						text-transform: uppercase;
						font-size: 13px;
						@media screen and (max-width: 768px) {
							font-size: 12px;
							line-height: normal;
						}
						a{
							padding: 5px 20px;
							display: block;
							color: #757575;
							text-decoration: none;
							&:hover{
								background: #f5f5f5;
								color: #199cb7;
							}
						}
					}
				}
			}
		}
		.banner-col{
			padding-right: 0;
			padding-left: 0;
			.banner{
				.slidebanner{
					img{
						width: 100%;
						height: 342px;
					}	
					.slick-dots{
						text-align: center;
					    position: absolute;
					    bottom: 0;
					    left: 0;
					    right: 0;
							li{
								list-style: none;
								display: inline-block;
								margin-right: 10px;
								button{
									text-indent: -9999px;
									border: none;
									background: url(../img/dot.png) no-repeat;
									width: 10px;
									height: 10px;
								}
							}
							.slick-active{
								button{
									background: url(../img/dot-active.jpg) no-repeat;
								}
							}
					}	
				}				
							
			}

		}
		.small-banner{
			padding-left: 0;
			.block{
				&:first-child{
					margin-bottom: 6px;
				}
				img{
					height: 100%;
				}
			}
		}
	}

	#content-wrapper{
		background: #f5f5f5;
		padding-top: 50px;
		.menu-after-top{
			h3{
				font-weight: bold;
				color: #333;
				@media screen and (max-width: 568px) {
					font-size: 20px;
				}
			}
			.more{
				margin-top: 20px;
				@media screen and (max-width: 568px) {
					margin-top: 0;
				}
				a{
					color: #199cb7;
				}
			}
		}
		.banner-after-menu{
			margin-bottom: 20px;
		}
		.product-wrapper{
			.product-column{
				.highlight{
					background: url(../img/bg-product-active.jpg) no-repeat !Important;					
					a{
						color: #fff !Important;
					}
				}
				.slide-product{
					.slick-prev{
						position: absolute;
						z-index: 9;
						background:url(../img/prev.png) no-repeat left;
						width: 24px;
						height: 50px;
						cursor: pointer;
						border: none;
					    text-indent: -9999px;
					    top: 50%;
					    outline: none;
					}
					.slick-next{
						position: absolute;
						right: 0;
						background:url(../img/next.png) no-repeat left;
						width: 24px;
						height: 50px;
						cursor: pointer;
					    border: none;
					    text-indent: -9999px;
					    top: 50%;
					    outline: none;
					}
				}
				.block{
					background: #fff;
					float: left;
					width: 220px;
					height: 335px;
					border-right: 1px solid #f5f5f5;
					a{
						color: #333;
						text-decoration: none;
						display: block;
						padding: 20px;
						position: relative;
						&:hover{
							box-shadow: 2px 0px 30px 5px #ccc;
						}
						@media screen and (max-width: 768px) {
							padding: 20px 0;
						}
						@media screen and (max-width: 480px) {
							padding: 20px;
						}
						.img{
							min-height: 200px;
							@media screen and (max-width: 480px) {
							    display: flex;
   								align-items: center;
							}
							img{
								@media screen and(max-width: 1024px) {
									width: 100%;
								}
							}
						}
						.title{
							margin-bottom: 10px;
							color: #666;
							@media screen and (min-width: 768px)and(max-width: 1024px) {
								padding: 0 10px;
							}
						}
						.price{
							color: #c81423;
							@media screen and (min-width: 768px)and(max-width: 1024px) {
								padding: 0 10px;
							}
						}
						.percent{
							color: #999;
							font-size: 12px;
							@media screen and (min-width: 768px)and(max-width: 1024px) {
								padding: 0 10px;
							}
						}
						.star-list{
							margin-top: 10px;
							@media screen and (min-width: 768px)and(max-width: 1024px) {
								padding: 0 10px;
							}
							ul{
								float: left;
								padding: 0;
								margin: 0;
								li{
									list-style: none;
									display: inline-block;
								}
							}
							.review{
								float: left;
								margin-left: 10px;
								margin-top: 2px;
								font-size: 10px;
								color: #999;
								@media screen and (max-width: 768px) {
									margin-left: 0;
								}
							}
						}
					}
				}
			}
		}
		#banner-ads{		
			padding: 50px 0; 
			background: #f5f5f5;
			.banner{
				img{
				    object-fit: cover;
	    			width: 100%;
				}
			}
		}
		.top-category-wrapper{
			margin-bottom: 20px;
			h3{
				font-weight: bold;
    			color: #333;
			}
			.list-category{
				ul{
					padding: 0;
					margin: 0;
					li{
						list-style: none;		
						padding: 3px;			
						position: relative;
						z-index: 9;
						a{
							display: block;	
							background: #fff;
							padding: 10px;
							text-align: center;
							@media screen and (min-width: 1200px) {
								height: 185px;
							}
							@media screen and (min-width: 768px)and(max-width: 1024px) {
								height: 200px;
							}
							&:hover{
								    box-shadow: 2px 0px 30px 5px #ccc;
							}		
							img{								
								height: 115px;
								@media screen and (max-width: 768px) {
									width: 100%;
								}
							}				
							.txt{
								margin-top: 10px;
								text-align: center;
								font-size: 12px;
								color: #212121;
								text-transform: capitalize;
							}
						}
					}
				}
			}
		}
		.top-pilihan-wrapper{
			padding: 50px 0;
			h3{
				font-weight: bold;
    			color: #333;
			}
			.product-wrapper{
				.product-column{
					.block{
						width: 16.66666667%;
						height: 282px;
						margin-bottom: 20px;
						border-right: 3px solid #f5f5f5;
						@media screen and (min-width: 768px) {
							padding: 0;
						}
						@media screen and (max-width: 480px) {
							width: 50%;
							padding: 0;
						}
						a{
							height: 100%;
							position: relative;
							z-index: 9;
							padding: 20px;
							@media screen and(min-width: 768px)and(max-width: 1024px) {
								padding: 0;
							}
							.img{
								min-height: 140px;
								@media screen and (max-width: 768px) {
									min-height: 50px;
									img{
										width: 100%;
									}
								}
								img{
										width: 100%;
									}
							}
							.star-list{
								ul{
									width: 45%;
									@media screen and (max-width: 768px) {
										width: 100%;
									}
									li{
									    margin-right: -5px;
									}
								}
							}
						}
					}
				}
				.seemore{
					text-align: center;
					text-transform: capitalize;
					margin: 20px 0;
					a{
						border: 1px solid #199cb7;
						padding: 10px 20px;
						display: inline-block;
						color: #199cb7;
					}
				}
			}
		}
	}

	#footer-wrapper{
		border-bottom: 1px solid #666;
		@media screen and (max-width: 480px) {
			background: #f5f9fc;
		}
		.before-footer-wrapper{
			padding: 50px 0;
			.block{
				text-align: center;
				background: url(../img/border-right.png) no-repeat right bottom;
				@media screen and (max-width: 480px) {
					height: 150px;
				background: url(../img/border-right.png) no-repeat right center;
				}
				&:last-child{
					background: none;
				}
				.img{
					display: inline-block;
					margin-bottom: 10px;
				}
				.title{
					color: #333;
					font-weight: bold;
					margin-bottom: 5px;
				}
				.desc{
					color: #666;
					@media screen and (max-width: 768px) {
						font-size: 12px;
					}
				}
			}
		}
		.footer{
			background: #f1f1f1;
			color: #666;
			padding: 50px 0;
			line-height: normal;
			@media screen and (min-width: 768px)and(max-width: 1024px) {
				font-size: 12px;    			
			}
			.logo{
				@media screen and (min-width: 768px)and(max-width: 1024px) {
					img{
						width: 100%;
					}
				}	
			}
			.title{
				font-weight: bold;
				text-transform: uppercase;
				border-bottom: 1px solid #666;
				margin-bottom: 10px;
				font-size: 14px;
				@media screen and (max-width: 480px) {
					width: 50%;
    				font-size: 18px;
    				margin-top: 20px;
				}
			}
			.list-address{
				margin-top: 35px;
				@media screen and (max-width: 480px) {
					margin-top: 20px;
				}
				ul{
					padding: 0;
					margin: 0;
					li{
						list-style: none;
						margin-bottom: 10px;
						padding-left: 25px;
						&:nth-child(1){
							background: url(../img/footer-maps.png) no-repeat left;
						}
						&:nth-child(2){
							background: url(../img/footer-phone.png) no-repeat left;
						}
						&:nth-child(3){
							background: url(../img/footer-mail.png) no-repeat left;
						}
					}
				}
			}
			.list-menus{
				margin-top: 20px;
				ul{
					padding: 0;
					margin: 0;
					li{
						list-style: none;
						margin: 10px 0;
						a{
							color: #666;
						}
					}
				}
			}
			.img-wrap{
				padding-right: 0;
				@media screen and (min-width: 768px)and(max-width: 1024px) {
					img{
						width: 100%;
					}
				}
			}
			.list-blog{
				.blog{
					border-bottom: 1px solid #333;
					padding: 15px 0;
					&:last-child{
						border: none;
					}
					a{
						color: #666;
					}
				}
			}
		}
	}

	#bottom{
		background: #183544;
		text-align: center;
		padding: 30px 0; 
		color: #999999;
		font-size: 16px;
		.red{
			color: #1a9cb7;
		}
	}

}