/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 4, ../sass/print.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/print.scss */
body {
  margin: 0;
  padding: 0;
  font-family: arial;
}

/* line 14, ../sass/print.scss */
#wrapper {
  overflow: hidden;
}
/* line 21, ../sass/print.scss */
#wrapper #header-mobile .navbar {
  background: url(../img/head-mobile.png) no-repeat center;
  background-size: cover;
  height: 250px;
  margin-bottom: 0;
}
/* line 27, ../sass/print.scss */
#wrapper #header-mobile .navbar-toggle {
  float: left;
  border: none;
}
/* line 31, ../sass/print.scss */
#wrapper #header-mobile .form-inline {
  position: absolute;
  top: 20px;
  width: 400px;
}
/* line 35, ../sass/print.scss */
#wrapper #header-mobile .form-inline input {
  background: #fff;
  padding-left: 30px;
  margin-left: 0 !important;
}
/* line 40, ../sass/print.scss */
#wrapper #header-mobile .form-inline .fa-search {
  top: 30%;
  position: absolute;
  left: 10px;
  color: #999;
}
/* line 47, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list {
  margin-top: 15px;
}
/* line 49, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul {
  padding: 0;
  margin: 0;
}
/* line 52, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li {
  float: left;
  position: relative;
  list-style: none;
  margin-right: 15px;
  cursor: pointer;
}
/* line 58, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .count {
  position: absolute;
  background: #c81322;
  color: #fff;
  font-size: 8px;
  top: -5px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
}
/* line 70, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .cart {
  position: relative;
}
/* line 73, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .notif {
  position: relative;
}
/* line 79, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile {
  margin-top: 50px;
}
/* line 82, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile .img img {
  width: 100%;
  object-fit: cover;
}
/* line 90, ../sass/print.scss */
#wrapper #top {
  background: url(../img/bg-top.png) no-repeat;
  background-size: cover;
  height: 30px;
  line-height: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 95, ../sass/print.scss */
  #wrapper #top .top-cols {
    font-size: 12px;
  }
}
/* line 100, ../sass/print.scss */
#wrapper #top .top-cols .left .cols {
  margin-left: 20px;
}
/* line 102, ../sass/print.scss */
#wrapper #top .top-cols .left .cols a {
  padding-left: 20px;
  color: #fff;
}
/* line 107, ../sass/print.scss */
#wrapper #top .top-cols .left .tlp {
  background: url(../img/ico-tlp.png) no-repeat left;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 107, ../sass/print.scss */
  #wrapper #top .top-cols .left .tlp {
    margin-left: 10px;
  }
}
/* line 113, ../sass/print.scss */
#wrapper #top .top-cols .left .email {
  background: url(../img/ico-mail.png) no-repeat left;
  margin-left: 0;
}
/* line 118, ../sass/print.scss */
#wrapper #top .top-cols .right {
  text-align: right;
}
/* line 120, ../sass/print.scss */
#wrapper #top .top-cols .right .cols {
  margin-right: 15px;
}
/* line 122, ../sass/print.scss */
#wrapper #top .top-cols .right .cols:last-child {
  padding-left: 20px;
  border-left: 1px solid #d8d8d8;
}
/* line 127, ../sass/print.scss */
#wrapper #top .top-cols .right .maps {
  background: url(../img/ico-location.png) no-repeat left;
}
/* line 129, ../sass/print.scss */
#wrapper #top .top-cols .right .maps a {
  padding-left: 20px;
}
/* line 134, ../sass/print.scss */
#wrapper #top .top-cols .cols {
  display: inline-block;
}
/* line 136, ../sass/print.scss */
#wrapper #top .top-cols .cols a {
  color: #fff;
}
/* line 139, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle {
  background: transparent;
  border: none;
  padding: 0;
}
/* line 143, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle img {
  float: left;
  margin-top: 5px;
}
/* line 147, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle .txt {
  float: left;
  line-height: 8px;
  margin: 7px 5px;
}
/* line 152, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle .caret {
  color: #666;
  float: left;
  margin-top: 2px;
}
/* line 158, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-menu {
  min-width: 70px;
}
/* line 165, ../sass/print.scss */
#wrapper #header {
  background: url(../img/bg-head.png) no-repeat;
  background-size: cover;
  padding: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 171, ../sass/print.scss */
  #wrapper #header .logo img {
    width: 100%;
  }
}
/* line 177, ../sass/print.scss */
#wrapper #header .search-top .form-inline {
  background: #f5f5f5;
  font-size: 12px;
  border: 1px solid #cccccc;
}
/* line 181, ../sass/print.scss */
#wrapper #header .search-top .form-inline .dropdown-toggle {
  padding-right: 15px !Important;
}
/* line 184, ../sass/print.scss */
#wrapper #header .search-top .form-inline .filter-option-inner-inner {
  font-size: 13px;
  padding-top: 2px;
}
/* line 188, ../sass/print.scss */
#wrapper #header .search-top .form-inline input {
  border: none;
  background: none;
  width: 68%;
}
/* line 193, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select {
  width: 140px;
}
@media screen and (max-width: 768px) {
  /* line 193, ../sass/print.scss */
  #wrapper #header .search-top .form-inline .bootstrap-select {
    width: 70px;
  }
}
/* line 198, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select .selectpicker {
  background: none;
}
/* line 201, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select .dropdown-toggle {
  background: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
  padding: 0 10px;
  color: #666;
}
/* line 211, ../sass/print.scss */
#wrapper #header .search-top .form-inline .search-btn {
  background: #f36f36;
  position: absolute;
  right: 0;
  top: 0;
  width: 55px;
  height: 40px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
/* line 226, ../sass/print.scss */
#wrapper #header .top-right {
  padding-top: 10px;
}
@media screen and (min-width: 568px) and (max-width: 1024px) {
  /* line 228, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list {
    max-width: 100% !IMPORTANT;
    width: 100%;
    flex: none;
  }
}
/* line 234, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul {
  padding: 0;
  margin: 0;
}
/* line 237, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li {
  float: left;
  position: relative;
  list-style: none;
  margin-right: 8px;
  cursor: pointer;
}
/* line 243, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .count {
  position: absolute;
  background: #f36f36;
  color: #fff;
  font-size: 8px;
  top: -5px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
}
/* line 255, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart {
  position: relative;
}
/* line 257, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart:after {
  display: none;
}
/* line 260, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 {
  display: none;
  width: 275px;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 9;
  background: #fff;
  box-shadow: 1px 1px 1px 3px #b0b0b070;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 260, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 {
    left: -200px;
  }
}
/* line 273, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li {
  float: none;
  margin: 0;
  position: relative;
  padding: 8px 30px;
  margin: 10px 20px;
  border-bottom: 1px solid #b0b0b070;
}
/* line 280, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(1) {
  background: url(../img/top-cart.png) no-repeat left;
}
/* line 283, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(2) {
  background: url(../img/top-chat.png) no-repeat left;
}
/* line 286, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(3) {
  background: url(../img/top-user.png) no-repeat left;
  border: none;
}
/* line 290, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li a {
  color: #999;
}
/* line 293, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li span {
  position: absolute;
  right: 10px;
  font-weight: bold;
}
/* line 301, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product {
  padding: 10px;
  font-size: 12px;
}
/* line 304, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 307, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .title {
  color: #666;
}
/* line 310, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .price {
  color: #333;
}
/* line 315, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .txt {
  padding: 20px 10px;
  color: #999;
}
/* line 319, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .subtotal {
  padding: 20px 10px;
  color: #999;
}
/* line 322, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .subtotal .total {
  font-weight: bold;
  color: #333;
}
/* line 328, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product {
  padding: 10px;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}
/* line 332, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product img {
  width: 100%;
}
/* line 335, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 338, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .title {
  color: #666;
}
/* line 341, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .price {
  color: #333;
}
/* line 348, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif {
  position: relative;
}
/* line 350, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif:after {
  display: none;
}
/* line 353, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux {
  display: none;
  width: 275px;
  position: absolute;
  left: -100px;
  top: 40px;
  z-index: 9;
  background: #fff;
  box-shadow: 1px 1px 1px 3px #b0b0b070;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 353, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux {
    left: -200px;
  }
}
/* line 366, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li {
  float: none;
  margin: 0;
  position: relative;
  padding: 8px 30px;
  margin: 10px 20px;
  border-bottom: 1px solid #b0b0b070;
}
/* line 373, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(1) {
  background: url(../img/top-cart.png) no-repeat left;
}
/* line 376, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(2) {
  background: url(../img/top-chat.png) no-repeat left;
}
/* line 379, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(3) {
  background: url(../img/top-user.png) no-repeat left;
  border: none;
}
/* line 383, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li a {
  color: #999;
}
/* line 386, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li span {
  position: absolute;
  right: 10px;
  font-weight: bold;
}
/* line 394, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product {
  padding: 10px;
  font-size: 12px;
}
/* line 397, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 400, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .title {
  color: #666;
}
/* line 403, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .price {
  color: #333;
}
/* line 415, ../sass/print.scss */
#wrapper #header .top-right .user-act-list {
  padding: 0;
}
@media screen and (max-width: 768px) {
  /* line 415, ../sass/print.scss */
  #wrapper #header .top-right .user-act-list {
    display: none;
  }
}
/* line 420, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul {
  padding: 0;
  margin: 0;
}
/* line 423, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul li {
  list-style: none;
  float: left;
  margin-right: 15px;
}
/* line 427, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul li:last-child {
  margin-right: 0;
}
/* line 430, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul li a {
  padding-left: 20px;
  color: #fff;
}
/* line 435, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .shop {
  background: url(../img/ico-shop.png) no-repeat left;
}
/* line 438, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign {
  background: url(../img/ico-user.png) no-repeat 20%;
  padding-left: 13px;
  border-left: 1px solid #d8d8d8;
}
/* line 442, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop {
  position: absolute;
  background: #fff;
  left: -120px;
  z-index: 9;
  width: 350px;
  padding: 20px;
  border-color: #ececec;
}
/* line 450, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .flexo {
  padding: 0 20px;
}
/* line 452, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .flexo .right {
  font-size: 12px;
}
/* line 456, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .input-group-btn {
  position: absolute;
  right: 0;
}
/* line 459, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .input-group-btn button {
  border: none;
  background: none;
  color: #333;
}
/* line 465, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .login-btn {
  background: #199cb7;
  color: #fff;
  width: 100%;
  border-radius: 25px;
}
/* line 471, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop input {
  border-radius: 25px;
}
/* line 482, ../sass/print.scss */
#wrapper #menus-wrapper .bg-kategori {
  padding-right: 0;
}
/* line 484, ../sass/print.scss */
#wrapper #menus-wrapper .bg-kategori h5 {
  background: #c81423 url(../img/burger-menu.png) no-repeat 8%;
  color: #fff;
  height: 45px;
  padding: 15px 50px;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  /* line 484, ../sass/print.scss */
  #wrapper #menus-wrapper .bg-kategori h5 {
    padding: 15px 0px 15px 50px;
  }
}
/* line 496, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul {
  padding: 20px 0 0;
  margin: 0;
}
/* line 499, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li {
  list-style: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}
/* line 505, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li a {
  color: #333;
  text-decoration: none;
}
/* line 508, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li a:hover {
  color: #c81423;
}
/* line 512, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li .active {
  color: #c81423;
}
/* line 520, ../sass/print.scss */
#wrapper #banner-wrapper {
  background: #0178fa;
  height: 342px;
  background-size: cover;
}
/* line 524, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper {
  padding-right: 0;
}
/* line 526, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category {
  background: #fff;
  height: 342px;
  padding: 20px 0;
}
/* line 530, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul {
  padding: 0;
  margin: 0;
}
/* line 533, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  /* line 533, ../sass/print.scss */
  #wrapper #banner-wrapper .list-cat-wrapper .list-category ul li {
    font-size: 12px;
    line-height: normal;
  }
}
/* line 541, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul li a {
  padding: 5px 20px;
  display: block;
  color: #757575;
  text-decoration: none;
}
/* line 546, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul li a:hover {
  background: #f5f5f5;
  color: #199cb7;
}
/* line 555, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col {
  padding-right: 0;
  padding-left: 0;
}
/* line 560, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .banner .slidebanner img {
  width: 100%;
  height: 342px;
}
/* line 564, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .banner .slidebanner .slick-dots {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 570, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .banner .slidebanner .slick-dots li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
/* line 574, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .banner .slidebanner .slick-dots li button {
  text-indent: -9999px;
  border: none;
  background: url(../img/dot.png) no-repeat;
  width: 10px;
  height: 10px;
}
/* line 583, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .banner .slidebanner .slick-dots .slick-active button {
  background: url(../img/dot-active.jpg) no-repeat;
}
/* line 593, ../sass/print.scss */
#wrapper #banner-wrapper .small-banner {
  padding-left: 0;
}
/* line 596, ../sass/print.scss */
#wrapper #banner-wrapper .small-banner .block:first-child {
  margin-bottom: 6px;
}
/* line 599, ../sass/print.scss */
#wrapper #banner-wrapper .small-banner .block img {
  height: 100%;
}
/* line 606, ../sass/print.scss */
#wrapper #content-wrapper {
  background: #f5f5f5;
  padding-top: 50px;
}
/* line 610, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top h3 {
  font-weight: bold;
  color: #333;
}
@media screen and (max-width: 568px) {
  /* line 610, ../sass/print.scss */
  #wrapper #content-wrapper .menu-after-top h3 {
    font-size: 20px;
  }
}
/* line 617, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top .more {
  margin-top: 20px;
}
@media screen and (max-width: 568px) {
  /* line 617, ../sass/print.scss */
  #wrapper #content-wrapper .menu-after-top .more {
    margin-top: 0;
  }
}
/* line 622, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top .more a {
  color: #199cb7;
}
/* line 627, ../sass/print.scss */
#wrapper #content-wrapper .banner-after-menu {
  margin-bottom: 20px;
}
/* line 632, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .highlight {
  background: url(../img/bg-product-active.jpg) no-repeat !important;
}
/* line 634, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .highlight a {
  color: #fff !Important;
}
/* line 639, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .slide-product .slick-prev {
  position: absolute;
  z-index: 9;
  background: url(../img/prev.png) no-repeat left;
  width: 24px;
  height: 50px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
  outline: none;
}
/* line 651, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .slide-product .slick-next {
  position: absolute;
  right: 0;
  background: url(../img/next.png) no-repeat left;
  width: 24px;
  height: 50px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
  outline: none;
}
/* line 664, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block {
  background: #fff;
  float: left;
  width: 220px;
  height: 335px;
  border-right: 1px solid #f5f5f5;
}
/* line 670, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 20px;
  position: relative;
}
/* line 676, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a:hover {
  box-shadow: 2px 0px 30px 5px #ccc;
}
@media screen and (max-width: 768px) {
  /* line 670, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a {
    padding: 20px 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 670, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a {
    padding: 20px;
  }
}
/* line 685, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .img {
  min-height: 200px;
}
@media screen and (max-width: 480px) {
  /* line 685, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .img {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 1024px) {
  /* line 691, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .img img {
    width: 100%;
  }
}
/* line 697, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .title {
  margin-bottom: 10px;
  color: #666;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 697, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .title {
    padding: 0 10px;
  }
}
/* line 704, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .price {
  color: #c81423;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 704, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .price {
    padding: 0 10px;
  }
}
/* line 710, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .percent {
  color: #999;
  font-size: 12px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 710, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .percent {
    padding: 0 10px;
  }
}
/* line 717, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list {
  margin-top: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 717, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .star-list {
    padding: 0 10px;
  }
}
/* line 722, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list ul {
  float: left;
  padding: 0;
  margin: 0;
}
/* line 726, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list ul li {
  list-style: none;
  display: inline-block;
}
/* line 731, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list .review {
  float: left;
  margin-left: 10px;
  margin-top: 2px;
  font-size: 10px;
  color: #999;
}
@media screen and (max-width: 768px) {
  /* line 731, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .star-list .review {
    margin-left: 0;
  }
}
/* line 746, ../sass/print.scss */
#wrapper #content-wrapper #banner-ads {
  padding: 50px 0;
  background: #f5f5f5;
}
/* line 750, ../sass/print.scss */
#wrapper #content-wrapper #banner-ads .banner img {
  object-fit: cover;
  width: 100%;
}
/* line 756, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper {
  margin-bottom: 20px;
}
/* line 758, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper h3 {
  font-weight: bold;
  color: #333;
}
/* line 763, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul {
  padding: 0;
  margin: 0;
}
/* line 766, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li {
  list-style: none;
  padding: 3px;
  position: relative;
  z-index: 9;
}
/* line 771, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li a {
  display: block;
  background: #fff;
  padding: 10px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  /* line 771, ../sass/print.scss */
  #wrapper #content-wrapper .top-category-wrapper .list-category ul li a {
    height: 185px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 771, ../sass/print.scss */
  #wrapper #content-wrapper .top-category-wrapper .list-category ul li a {
    height: 200px;
  }
}
/* line 782, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li a:hover {
  box-shadow: 2px 0px 30px 5px #ccc;
}
/* line 785, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li a img {
  height: 115px;
}
@media screen and (max-width: 768px) {
  /* line 785, ../sass/print.scss */
  #wrapper #content-wrapper .top-category-wrapper .list-category ul li a img {
    width: 100%;
  }
}
/* line 791, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li a .txt {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  color: #212121;
  text-transform: capitalize;
}
/* line 803, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper {
  padding: 50px 0;
}
/* line 805, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper h3 {
  font-weight: bold;
  color: #333;
}
/* line 811, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
  width: 16.66666667%;
  height: 282px;
  margin-bottom: 20px;
  border-right: 3px solid #f5f5f5;
}
@media screen and (min-width: 768px) {
  /* line 811, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 811, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
    width: 50%;
    padding: 0;
  }
}
/* line 823, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a {
  height: 100%;
  position: relative;
  z-index: 9;
  padding: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 823, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a {
    padding: 0;
  }
}
/* line 831, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img {
  min-height: 140px;
}
@media screen and (max-width: 768px) {
  /* line 831, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img {
    min-height: 50px;
  }
  /* line 835, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img img {
    width: 100%;
  }
}
/* line 839, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img img {
  width: 100%;
}
/* line 844, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul {
  width: 45%;
}
@media screen and (max-width: 768px) {
  /* line 844, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul {
    width: 100%;
  }
}
/* line 849, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul li {
  margin-right: -5px;
}
/* line 857, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .seemore {
  text-align: center;
  text-transform: capitalize;
  margin: 20px 0;
}
/* line 861, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .seemore a {
  border: 1px solid #199cb7;
  padding: 10px 20px;
  display: inline-block;
  color: #199cb7;
}
/* line 872, ../sass/print.scss */
#wrapper #footer-wrapper {
  border-bottom: 1px solid #666;
}
@media screen and (max-width: 480px) {
  /* line 872, ../sass/print.scss */
  #wrapper #footer-wrapper {
    background: #f5f9fc;
  }
}
/* line 877, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper {
  padding: 50px 0;
}
/* line 879, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block {
  text-align: center;
  background: url(../img/border-right.png) no-repeat right bottom;
}
@media screen and (max-width: 480px) {
  /* line 879, ../sass/print.scss */
  #wrapper #footer-wrapper .before-footer-wrapper .block {
    height: 150px;
    background: url(../img/border-right.png) no-repeat right center;
  }
}
/* line 886, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block:last-child {
  background: none;
}
/* line 889, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .img {
  display: inline-block;
  margin-bottom: 10px;
}
/* line 893, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .title {
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 898, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .desc {
  color: #666;
}
@media screen and (max-width: 768px) {
  /* line 898, ../sass/print.scss */
  #wrapper #footer-wrapper .before-footer-wrapper .block .desc {
    font-size: 12px;
  }
}
/* line 906, ../sass/print.scss */
#wrapper #footer-wrapper .footer {
  background: #f1f1f1;
  color: #666;
  padding: 50px 0;
  line-height: normal;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 906, ../sass/print.scss */
  #wrapper #footer-wrapper .footer {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 916, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .logo img {
    width: 100%;
  }
}
/* line 921, ../sass/print.scss */
#wrapper #footer-wrapper .footer .title {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #666;
  margin-bottom: 10px;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  /* line 921, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .title {
    width: 50%;
    font-size: 18px;
    margin-top: 20px;
  }
}
/* line 933, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address {
  margin-top: 35px;
}
@media screen and (max-width: 480px) {
  /* line 933, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .list-address {
    margin-top: 20px;
  }
}
/* line 938, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul {
  padding: 0;
  margin: 0;
}
/* line 941, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li {
  list-style: none;
  margin-bottom: 10px;
  padding-left: 25px;
}
/* line 945, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(1) {
  background: url(../img/footer-maps.png) no-repeat left;
}
/* line 948, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(2) {
  background: url(../img/footer-phone.png) no-repeat left;
}
/* line 951, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(3) {
  background: url(../img/footer-mail.png) no-repeat left;
}
/* line 957, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus {
  margin-top: 20px;
}
/* line 959, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul {
  padding: 0;
  margin: 0;
}
/* line 962, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul li {
  list-style: none;
  margin: 10px 0;
}
/* line 965, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul li a {
  color: #666;
}
/* line 971, ../sass/print.scss */
#wrapper #footer-wrapper .footer .img-wrap {
  padding-right: 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 974, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .img-wrap img {
    width: 100%;
  }
}
/* line 980, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog {
  border-bottom: 1px solid #333;
  padding: 15px 0;
}
/* line 983, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog:last-child {
  border: none;
}
/* line 986, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog a {
  color: #666;
}
/* line 994, ../sass/print.scss */
#wrapper #bottom {
  background: #183544;
  text-align: center;
  padding: 30px 0;
  color: #999999;
  font-size: 16px;
}
/* line 1000, ../sass/print.scss */
#wrapper #bottom .red {
  color: #1a9cb7;
}
